# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Database
*.db
*.sqlite3

# Logs
*.log

# Local development
instance/
.webassets-cache

# Railway specific
.railway/

# Python-related
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
/old_files
.qodo
/migrations

# Flask-related
instance/
.env
*.db
*.log

# No Share
arbscreener.mp4
/utils/main_utils.py
/static/GROKARB.jpg
/static/css/dex_search.css
/static/css/login.css
/static/css/token_table.css
/static/css/index.css

# IDE-related
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Dependency directories
venv/
ENV/
env/
.venv/


# Miscellaneous
*.DS_Store
*.thumb
*.gz
*.zip
*.tar
*.tgz
*.rar
*.7z
migrations/


# Coverage reports
.coverage
coverage.xml
*.cover
*.py,cover
nosetests.xml
test_coverage/
notes.txt
TODOLIST.txt
