.container.dark-background {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
}

.summary-div {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 8px;
}

.card {
    background-color: #2c2c2c;
    border: none;
    border-radius: 8px;    
    padding: 10px;
    margin: 20px;
}

.card-body {
    color: #e0e0e0;

}

.card-title {
    color: #f0f0f0;
}

.table-dark {
    background-color: #2c2c2c;
    color: #e0e0e0;
}

.table-dark th, .table-dark td {
    border-color: #444;
}
.table {
  color: white;
}


#summary-div {
    position: fixed;    
    left: 0;
    width: 100%; /* Make it span across the page */
    background-color: white; /* Set a background color */
    z-index: 1000; /* Ensure it stays above other content */
    padding: 10px; /* Add some padding if needed */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: Add a shadow for visual separation */
  }
  
