body {
    max-width: 100%;
    
}
.table-container {
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Horizontally center the table */
    padding: 20px; /* Optional padding */
}

#token-table {
    width: 100%; /* Ensures the table resizes to fit container */
    max-width: 95vw; /* Limits the table's width to 95% of the viewport width */
    overflow-x: auto; /* Ensures any overflowing content is scrollable horizontally */
}
