body {
  background-color: #222222; /* Slightly lighter background */
}

.card {
  background-color: #252525; /* Slightly lighter card background */
}

.card-header {
  background-color: #252525;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
}

th, td {
  text-align: center;
  color: #e0e0e0;
  background-color: #252525;
}

.table th {
  background-color: #2a2a2a;
  font-weight: 400;
}

.btn-sm {
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  .table-container {
      overflow-x: auto;
  }
}

.table-td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#my-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.card-title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #f3ba2f;
  background: #252525; /* Slightly lighter background */
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #e0e0e0;
  color: #1f1f1f;
}

.card-text {
  font-size: 0.9rem;
  color: #e0e0e0;
}

.card-link {
  color: #f3ba2f;
  text-decoration: none;
}

.card-link:hover {
  color: #ffdc4d;
  text-decoration: underline;
}

#content{
  margin-top: 65px;
}

#chart-summary {
  color: white;
}