{% extends "base.html" %}

{% block title %}Summary - Dexscreener{% endblock %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

<style>
  body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #121212; */
    color: #e0e0e0;
    background-color: #272727;
  }

  .container {
    max-width: 90%;
    background-color: #1f1f1f;
    
  }

  .card {
    background-color: #1f1f1f;
    border-radius: 10px;
    border-color: #272727;
  }

  .card-header {
    background-color: #1f1f1f;
    border-bottom: none;
  }

  .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #f3ba2f;
    background: #1f1f1f;
  }

  .table {
    color: #e0e0e0;
  }

  .table th {
    background-color: #2a2a2a;
    font-weight: 400;
  }

  .table td {
    background-color: #1f1f1f;
  }

  .table-responsive {
    border: none;
  }

  .table-hover tbody tr:hover td {
    background-color: #e0e0e0;
  }

  .table-hover tbody tr:hover th {
    background-color: #e0e0e0;
  }

  .card-text {
    font-size: 0.9rem;
    color: #e0e0e0;
  }

  .card-link {
    color: #f3ba2f;
    text-decoration: none;
  }

  .card-link:hover {
    color: #ffdc4d;
    text-decoration: underline;
  }
</style>

<div class="container mt-5">
  <div class="row">
    {% for opportunity in arbitrage_opportunities %}
    <div class="col-12 mb-4">
      <div class="card shadow-sm">
        <!-- Card Header -->
        <div class="card-header text-left">
          <h5 class="card-title mb-0">Arbitrage Opportunity</h5>
        </div>
        <div class="card-body p-3">
          <!-- Pair Details in Table -->
          <table class="table table-striped table-hover table-responsive">
            <thead>
              <tr>
                <th scope="col">Detail</th>
                <th scope="col">{{ opportunity.pair1 }}</th>
                <th scope="col">{{ opportunity.pair2 }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Price</th>
                <td>{{ opportunity.pair1_price }}</td>
                <td>{{ opportunity.pair2_price }}</td>
              </tr>
              <tr>
                <tr>
                  <th scope="row">Price Native</th>
                  <td>{{ opportunity.pair1_price_native }}</td>
                  <td>{{ opportunity.pair2_price_native }}</td>
                </tr>
                <tr>
                <th scope="row">Liquidity</th>
                <td>{{ opportunity.pair1_liquidity }}</td>
                <td>{{ opportunity.pair2_liquidity }}</td>
              </tr>
              <tr>
                <th scope="row">Base Liquidity</th>
                <td>{{ opportunity.pair1_liquidity_base }}</td>
                <td>{{ opportunity.pair2_liquidity_base }}</td>
              </tr>
              <tr>
                <th scope="row">Quote Liquidity</th>
                <td>{{ opportunity.pair1_liquidity_quote }}</td>
                <td>{{ opportunity.pair2_liquidity_quote }}</td>
              </tr>
              <tr>
                <th scope="row">Chain ID</th>
                <td>{{ opportunity.pair1_chain_id }}</td>
                <td>{{ opportunity.pair2_chain_id }}</td>
              </tr>
              <tr>
                <th scope="row">Dex ID</th>
                <td>{{ opportunity.pair1_dex_id }}</td>
                <td>{{ opportunity.pair2_dex_id }}</td>
              </tr>
              <tr>
                <th scope="row">Base Token Address</th>
                <td class="text-truncate">{{ opportunity.pair1_baseToken_address }}</td>
                <td class="text-truncate">{{ opportunity.pair2_baseToken_address }}</td>
              </tr>
              <tr>
                <th scope="row">Quote Token Address</th>
                <td class="text-truncate">{{ opportunity.pair1_quoteToken_address }}</td>
                <td class="text-truncate">{{ opportunity.pair2_quoteToken_address }}</td>
              </tr>
              <tr>
                <th scope="row">Address</th>
                <td class="text-truncate">{{ opportunity.pool_pair1_address }}</td>
                <td class="text-truncate">{{ opportunity.pool_pair2_address }}</td>
              </tr>
              <tr>
                <th scope="row">URL</th>
                <td>
                  <a href="{{ opportunity.pool_pair1_url }}" target="_blank" class="card-link" title="{{ opportunity.pool_pair1_url }}">
                    {{ opportunity.pool_pair1_url | truncate(30, True) }}
                  </a>
                </td>
                <td>
                  <a href="{{ opportunity.pool_pair2_url }}" target="_blank" class="card-link" title="{{ opportunity.pool_pair2_url }}">
                    {{ opportunity.pool_pair2_url | truncate(30, True) }}
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- Arbitrage Details -->
          <div class="mt-2">
            <p class="card-text">
              <strong>Price Difference:</strong> {{ opportunity.price_diff }}
            </p>
            <p class="card-text">
              <strong>Liquidity Difference:</strong> {{ opportunity.liquidity_diff }}
            </p>
            <p class="card-text">
              <strong>Potential Profit:</strong> {{ opportunity.profit }}
            </p>
            <p class="card-text">
              <strong>Ratio</strong> {{ opportunity.nativePrice_ratio_format }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
