{% extends "base.html" %}

{% block title %}Summary - Dexscreener{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        {% for opportunity in arbitrage_opportunities %}
        <div class="col-md-4 mb-4 d-flex">
            <div class="card w-100 d-flex flex-column">
                <div class="card-body flex-grow-1">
                    <h5 class="card-title">{{ opportunity.pair1 }}</h5>
                    <p class="card-text">Price: {{ opportunity.pair1_price }}</p>
                    <p class="card-text">Liquidity: {{ opportunity.pair1_liquidity }}</p>
                    <p class="card-text">Address: {{ opportunity.pool_pair1_address }}</p>
                    <p class="card-text">
                        <a href="{{ opportunity.pool_pair1_url }}" target="_blank" class="card-link">{{ opportunity.pool_pair1_url }}</a>
                    </p>
                    <hr>
                    <h5 class="card-title">{{ opportunity.pair2 }}</h5>
                    <p class="card-text">Price: {{ opportunity.pair2_price }}</p>
                    <p class="card-text">Liquidity: {{ opportunity.pair2_liquidity }}</p>
                    <p class="card-text">Address: {{ opportunity.pool_pair2_address }}</p>
                    <p class="card-text">
                        <a href="{{ opportunity.pool_pair2_url }}" target="_blank" class="card-link">{{ opportunity.pool_pair2_url }}</a>
                    </p>
                    <hr>
                    <h5 class="card-title">Summary</h5>
                    <p class="card-text">Price Difference: {{ opportunity.price_diff }}</p>
                    <p class="card-text">Liquidity Difference: {{ opportunity.liquidity_diff }}</p>
                    <p class="card-text">Profit(?): {{ opportunity.profit }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
