{% extends "base.html" %}

{% block title %}Summary - Dexscreener{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    {% for opportunity in arbitrage_opportunities %}
    <div class="col-md-4 mb-4 d-flex">
      <div class="card w-100 d-flex flex-column shadow-sm">
        <div class="card-body flex-grow-1">
          <h5 class="card-title mb-3">Summary</h5>
          <div class="mb-3">
            <h6 class="card-subtitle mb-2 text-dark">Arbitrage Details</h6>
            <p class="card-text">
              <strong>Price Difference:</strong> {{ opportunity.price_diff }}
            </p>
            <p class="card-text">
              <strong>Liquidity Difference:</strong> {{ opportunity.liquidity_diff }}
            </p>
            <p class="card-text">
              <strong>Potential Profit:</strong> {{ opportunity.potential_profit }}
            </p>
          </div>
          <hr>
          <div class="mb-3">
            <h6 class="card-subtitle mb-2 text-primary">{{ opportunity.pair1 }}</h6>
            <p class="card-text">
              <strong>Price:</strong> {{ opportunity.pair1_price }}
            </p>
            <p class="card-text">
              <strong>Liquidity:</strong> {{ opportunity.pair1_liquidity }}
            </p>
            <p class="card-text">
                <strong>Base Liquidity:</strong> {{ opportunity.pair1_liquidity_base }}
              </p>
              <p class="card-text">
                <strong>Quote Liquidity:</strong> {{ opportunity.pair1_liquidity_quote }}
              </p>
            <p class="card-text">
              <strong>Address:</strong> {{ opportunity.pool_pair1_address }}
            </p>
            <p class="card-text">
              <a href="{{ opportunity.pool_pair1_url }}" target="_blank" class="card-link">{{ opportunity.pool_pair1_url }}</a>
            </p>
          </div>
          <hr>
          <div class="mb-3">
            <h6 class="card-subtitle mb-2 text-success">{{ opportunity.pair2 }}</h6>
            <p class="card-text">
              <strong>Price:</strong> {{ opportunity.pair2_price }}
            </p>
            <p class="card-text">
              <strong>Liquidity:</strong> {{ opportunity.pair2_liquidity }}
            </p>
            <p class="card-text">
                <strong>Base Liquidity:</strong> {{ opportunity.pair2_liquidity_base }}
              </p>
              <p class="card-text">
                <strong>Quote Liquidity:</strong> {{ opportunity.pair2_liquidity_quote }}
              </p>
            <p class="card-text">
              <strong>Address:</strong> {{ opportunity.pool_pair2_address }}
            </p>
            <p class="card-text">
              <a href="{{ opportunity.pool_pair2_url }}" target="_blank" class="card-link">{{ opportunity.pool_pair2_url }}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}