<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <nav>
        <form action="{{ request.path }}" method="get" class="search-form">
            <input type="text" name="user_input" value="{{ request.args.get('user_input', 'SOL') }}" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
        <ul class="nav-links">
            <li><a href="{{ url_for('index', user_input=request.args.get('user_input', 'SOL')) }}">Home</a></li>
            <li><a href="{{ url_for('summary', user_input=request.args.get('user_input', 'SOL')) }}">Summary</a></li>
            <li><a href="{{ url_for('token_summary', user_input=request.args.get('user_input', 'SOL')) }}">Token Table</a></li>
            <li><a href="{{ url_for('charts', user_input=request.args.get('user_input', 'SOL')) }}">Charts</a></li>
            <li><a href="{{ url_for('trending') }}">Trending</a></li>
            <li><a href="{{ url_for('arb') }}">Arb</a></li>
            
        </ul>
    </nav>
    <div class="container" id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
