<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index', user_input=request.args.get('user_input', 'SOL')) }}">My Flask App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index', user_input=request.args.get('user_input', 'SOL')) }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('summary', user_input=request.args.get('user_input', 'SOL')) }}">Summary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('token_summary', user_input=request.args.get('user_input', 'SOL')) }}">Token Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('charts', user_input=request.args.get('user_input', 'SOL')) }}">Charts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('trending', user_input=request.args.get('user_input', 'SOL')) }}">Trending</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('arb', user_input=request.args.get('user_input', 'SOL')) }}">Arb</a>
                </li>
            </ul>
            <form action="{{ request.path }}" method="get" class="form-inline ml-auto">
                <input class="form-control mr-sm-2" type="text" name="user_input" value="{{ request.args.get('user_input', 'SOL') }}" placeholder="Search...">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="custom-container mt-4" id="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sortabletable@latest/dist/sortabletable.min.js"></script>   
</body>
</html>
