{% extends "base.html" %}

{% block title %}Charts - Dexscreener{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Liquidity Distribution (Treemap)</h5>
                    <img src="data:image/png;base64,{{ tree_liquidity_img }}" class="img-fluid" alt="Liquidity Treemap">
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Liquidity Distribution (Pie Chart)</h5>
                    <img src="data:image/png;base64,{{ pie_liquidity_img }}" class="img-fluid" alt="Liquidity Pie Chart">
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Volume Distribution (Treemap)</h5>
                    <img src="data:image/png;base64,{{ tree_volume_img }}" class="img-fluid" alt="Volume Treemap">
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Volume Distribution (Pie Chart)</h5>
                    <img src="data:image/png;base64,{{ pie_volume_img }}" class="img-fluid" alt="Volume Pie Chart">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
