{% extends "base.html" %}

{% block title %}Home - Dexscreener{% endblock %}

{% block content %}
<style>
/* General container styling */
.container.dark-background {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
}

/* Summary Div styling */
.summary-div {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 8px;
}

/* Card styling */
.card {
    background-color: #2c2c2c;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
}

.card-body {
    color: #e0e0e0;
}

.card-title {
    color: #f0f0f0;
}

/* Table styling */
.table-dark {
    background-color: #2c2c2c;
    color: #e0e0e0;
}

.table-dark th, .table-dark td {
    border-color: #444;
}
.table {
  color: white;
}
</style>
<script>
  document.addEventListener('DOMContentLoaded', () => {
      const cards = document.querySelectorAll('.card');
      const summaryDiv = document.getElementById('summary-div');   
  
      cards.forEach(card => {
          card.addEventListener('click', () => {
              const tokenPairAddress = card.getAttribute('data-token-pair');
              console.log(tokenPairAddress);
  
              sendTokenPairAddressToFlask(tokenPairAddress);
  
              summaryDiv.style.display = 'block';
          });
      });
  
      function sendTokenPairAddressToFlask(tokenPairAddress) {
          fetch('/process-data', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify({ tokenPairAddress: tokenPairAddress }),
          })
          .then(response => response.json())
          .then(data => {
            console.log('Success:', data.pair_URL);
            const pair_URL = data.pair_URL;
            const chain_id = data.chain_id;
            const dex_id = data.dex_id;
            const quote_token = data.quote_token;
            const base_token = data.base_token;
            const chart_div = data.chart_div;
            const x_data = data.x_data;
            const y_data = data.y_data;
  
            summaryDiv.innerHTML = `
                <div id="chart-summary"> 
                    <p>${base_token} / ${quote_token}</p> 
                    <p>Chain: ${chain_id}</p> 
                    <p>Dex: ${dex_id}</p>
                    <p>URL: <a href="${pair_URL}">${pair_URL}</a></p>
                    <div id="chart"></div>
                </div>
            `;
                // Generate the chart directly on the client side
            const trace = {
                x: x_data,
                y: y_data,
                type: 'bar'
            };
            
            const layout = {
                title: base_token + '/' + quote_token,
                xaxis: { title: 'Time Frame' },
                yaxis: { title: 'Volume' }
            };
            
            Plotly.newPlot('chart', [trace], layout);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
      }
  });
</script>
<div class="container-fluid">
  <!-- Summary Div -->
  <div class="interactive-chart-container">
      
      <div class="d-none d-md-block" id="summary-div">        
        {{ chart_div | safe }}
          <!-- Summary content will be dynamically inserted here -->
      </div>
  </div>
  <!-- Card Container -->
  <div class="row">
      {% for data in pool_data %}
      <div class="col-md-6">
        <div class="card" data-token-pair="{{ data['pool_address'] }}">
          <div class="card-body">
            <h5 class="card-title">{{ data['base_token'] }} / {{ data['quote_token'] }}</h5>
            <p><strong>Chain ID:</strong> {{ data['chain_id'] }}</p>
            <p><strong>Dex ID:</strong> {{ data['dex_id'] }}</p>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th>Liquidity</th>
                  <th>base</th>
                  <th>quote</th>
                </tr>
                <tr>
                  <td><strong></strong>{{ data['liquidity_usd_formatted']}}</p></td>
                  <td><strong>{{ data['base_token'] }}:</strong> {{ data['liquidity_base_formatted']}}</p></td>
                  <td><strong>{{ data['quote_token'] }}:</strong> {{ data['liquidity_quote_formatted']}}</p></td>
                </tr>
              </tbody>
            </table>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th>5m</th>
                  <th>1h</th>
                  <th>6h</th>
                  <th>24h</th>
                </tr>
                <tr>
                  <td><strong></strong>{{ data['volume_5m_formatted'] }}</p></td>
                  <td><strong></strong>{{ data['volume_1h_formatted'] }}</p></td>
                  <td><strong></strong>{{ data['volume_6h_formatted'] }}</p></td>
                  <td><strong></strong>{{ data['volume_24h_formatted'] }}</td>
                </tr>
              </tbody>
            </table>
            <p><strong>Price (Native): </strong>{{ data['price_native_formatted']}}</p>
            <p><strong>Price (USD): </strong>{{ data['price_usd_formatted'] }}</p>
            <p><strong>Pair Address: </strong>{{ data['pool_address'] }}</p>
            <p><strong>Base Address: </strong>{{ data['baseToken_address'] }}</p>
            <p><strong>Quote Address: </strong>{{ data['quoteToken_address'] }}</p>
            <!-- <p><strong></strong>{{ data['pair_url'] }}</p> -->
            <a href="{{ data['pair_url'] }}" target="_blank" class="card-link" title="{{ data['pair_url'] }}">
              {{ data['pair_url'] | truncate(60, True) }}
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}
