{% extends "base.html" %}

{% block title %}Home - Dexscreener{% endblock %}

{% block content %}
    <div class="card-container">
        {% for TokenPair in search %}
        <div class="card">
            <div class="card-content">
                <div><span class="label">Chain ID:</span> <span class="value">{{ TokenPair.chain_id }}</span></div>
                <div><span class="label">Liquidity (USD):</span> <span class="value">${{ TokenPair.liquidity.usd | round(0) }}</span></div>
                <div><span class="label">Price (Native):</span> <span class="value">{{ TokenPair.price_native | round(2) }}</span></div>
                <div><span class="label">Price (USD):</span> <span class="value">${{ TokenPair.price_usd | round(2) }}</span></div>
                <div><span class="label">Volume (24h):</span> <span class="value">${{ TokenPair.volume.h24 | round(2) }}</span></div>
                <div><span class="label">Pair Address:</span> <span class="value">{{ TokenPair.pair_address }}</span></div>
            </div>
            <div class="card-title">{{ TokenPair.quote_token.symbol }} / {{ TokenPair.base_token.symbol }}</div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
